<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />

        <!-- Fontawesome -->
        <script
            src="https://kit.fontawesome.com/ec13307674.js"
            crossorigin="anonymous"
        ></script>

        <!-- ajax -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <title>Document</title>

        <!-- header.css -->
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <%- include('header') %>
        <div
            class="input-form col-md-12 mx-auto"
            style="
                width: 700px;
                height: 100vh;
                padding: 150px 50px;
                margin: auto;
            "
        >
            <form class="validation-form" novalidate>
                <div class="row">
                    <div class="radio-check mb-3" style="padding: 0px 15px">
                        <input
                            type="radio"
                            name="login-type"
                            id="user"
                            value="user"
                            checked
                            style="margin-right: 5px"
                        />손님
                        <input
                            type="radio"
                            name="login-type"
                            id="store"
                            value="store"
                            style="margin-right: 5px; margin-left: 15px"
                        />사장님
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="login__input-id">아이디</label>
                        <input
                            type="text"
                            class="form-control"
                            id="login__input-id"
                            placeholder=""
                            value=""
                            required
                        />
                        <div class="invalid-feedback">
                            아이디를 입력해주세요
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="login__input-pw">비밀번호</label>
                        <input
                            type="password"
                            class="form-control"
                            id="login__input-pw"
                            placeholder=""
                            value=""
                            autocomplete="on"
                            required
                        />
                        <div class="invalid-feedback">
                            비밀번호를 입력해주세요
                        </div>
                    </div>
                </div>

                <button
                    id="submit-login-form"
                    class="btn btn-primary btn-lg btn-block"
                    type="button"
                >
                    로그인
                </button>
            </form>
        </div>
        <script src="/js/ajax/ajax.login.submit.js"></script>
    </body>
</html>
