<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />

        <!-- Fontawesome -->
        <script
            src="https://kit.fontawesome.com/ec13307674.js"
            crossorigin="anonymous"
        ></script>

        <!-- ajax -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Review-Post</title>

        <!-- css -->
        <link rel="stylesheet" href="/css/style.css"  />
    </head>
    <body>
        <%- include('header') %> <%- include('toggle-menu-bar') %>
        <main id="main">
            <section id="main-section">
                <div id="windows-nav-wrapper">
                    <div id="windows-nav">
                        <div class="windows-nav__row">
                            <div id="apply-btn" class="window-button-wrapper">
                                <div id="apply" class="window-button"></div>
                                <h2 class="window-button-title">
                                    세탁서비스 신청
                                </h2>
                            </div>
                            <div
                                id="laundry-list-btn"
                                class="window-button-wrapper"
                            >
                                <div
                                    id="laundry-list"
                                    class="window-button"
                                ></div>
                                <h2 class="window-button-title">
                                    세탁 목록 조회
                                </h2>
                            </div>
                        </div>
                        <div class="windows-nav__row">
                            <div
                                id="post-review-btn"
                                class="window-button-wrapper"
                            >
                                <div
                                    id="post-review"
                                    class="window-button"
                                ></div>
                                <h2 class="window-button-title">리뷰 작성</h2>
                            </div>
                            <div
                                id="get-reviews-btn"
                                class="window-button-wrapper"
                            >
                                <div
                                    id="get-reviews"
                                    class="window-button"
                                ></div>
                                <h2 class="window-button-title">리뷰 조회</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer></footer>
        <script src="/js/script/main.windowbuttons.js"></script>
    </body>
</html>
